# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
/build/
/bin/
/.idea
/.gradle
/.settings
gradle/
src/main/main.iml
src/test/test.iml

#eclipse stuff
*.classpath
*.project

#logs
*.log

#specific files
bin/darwin/libjnsctp.jnilib
bin/linux-x86-64/libjnsctp.so
bin/linux-x86/libjnsctp.so
bin/logback.xml
